@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Thin.ttf") format("truetype");
  /* src: url("../../assets/fonts/Roboto-Bold.ttf") format("truetype"); */
  font-family: "Poppins-Bold";
  src: url("../fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");

  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat-Light.ttf") format("truetype");
}
body,
html,
#root {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
}
html {
  scroll-behavior: smooth;
}
