.cardImage {
  width: 90px;
  height: 90px;
}
.cardContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 300px;
  margin: 30px;
  text-align: center;
  font-family: "Montserrat-Light";
}
// Responsividade
@media screen and (max-width: 1024px) {
  .card {
    width: 200px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .cardContainer {
    flex-direction: column;
  }
}
