.home {
  background-image: url(../../assets/images/vector3.png);
  background-color: #054cb4;
  background-repeat: no-repeat;
  background-position: 0 100%;
  bottom: -1px;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 700px) {
  .home {
    background-color: #054cb4;
    background-image: none;
  }
}
