nav {
  background: transparent;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;

  .right-item-container {
    padding-right: 10rem;
  }
  ul {
    list-style-type: none;
  }
  a {
    color: white;
    text-decoration: none;
  }
  li {
    display: inline-block;
    font-size: 16px;
    padding: 0.2rem;
    padding-left: 1rem;
  }
}
.logo {
  padding-left: 1rem;
  width: 120px;
  padding-top: 0.5rem;
}
.scrollNav {
  background: #054cb4;
}
