.About {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 10%;
}
.aboutText {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 57%;
  h2 {
    font-size: 40px;
    color: #054cb4;
    font-family: "Poppins-Bold";
    width: 50%;
    align-self: flex-start;
    flex-grow: 0;
    order: 1;
  }
  h2:after {
    content: "";
    display: block;
    width: 20%;
    padding-top: 20px;
    border-bottom: 1px solid black;
    transition: 0.5s;
  }
  h2:hover:after {
    width: 80%;
  }
  p {
    text-align: justify;
    line-height: 40px;
    text-decoration: none;
    font-size: 18px;
    font-family: "Montserrat-Light";
    align-self: flex-start;
    width: 60%;
    flex-grow: 0;
    order: 2;
  }
}
.art {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -1;
}
.aboutImg {
  object-fit: contain;
  position: relative;
  width: auto;
  height: 100%;
  margin-bottom: 50px;
}

.AboutVirado {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 10%;
  p {
    text-align: justify;
    align-self: flex-start;
    margin-right: 4%;
  }
  h2 {
    align-self: flex-end;
    margin-right: 4%;
    text-align: right;
    display: flex;
    flex-direction: column;
  }
  h2:after {
    content: "";
    display: block;
    width: 20%;
    padding-top: 20px;
    border-bottom: 1px solid black;
    transition: 0.5s;
    align-self: flex-end;
  }
  h2:hover:after {
    width: 80%;
  }
  .aboutImg {
    margin-left: 0;
    order: 2;
    position: relative;
    width: auto;
    height: 100%;
  }
  .aboutText {
    order: 1;
    display: flex;
    justify-content: center;
    align-content: flex-end;
  }
}
@media (max-width: 768px) {
  .aboutImg,
  .turnAboutImg {
    display: none;
  }
  .About {
    flex-direction: column;
    .aboutText {
      width: 100%;
      align-content: center;
      h2 {
        align-self: center;
        width: 70%;
        font-size: 27px;
      }
      p {
        text-align: left;
        align-self: center;
        width: 70%;
        margin: 5%;
      }
    }
  }
  .AboutVirado {
    flex-direction: column;
    .aboutText {
      width: 100%;
      align-content: center;
      h2 {
        align-self: center;
        width: 70%;
        font-size: 27px;
      }
      p {
        text-align: right;
        align-self: center;
        width: 70%;
        margin: 5%;
      }
    }
  }
}

@media (max-width: 1024px) {
  .aboutImg {
    width: 45vw;
  }
  .AboutVirado {
    .aboutImg {
      width: 45vw;
    }
  }
  .aboutText {
    h2 {
      font-size: 25px;
    }
    p {
      line-height: 25px;
    }
  }
}
